<div class="form-group">
    <%= form.label :question, 'Question', class: "form-label" %>
    <%= form.text_field :question, class: 'form-control form-control-lg', required: true %>
</div>
<div class="form-group">
    <%= form.label :active_from, 'Active_from', class: "form-label" %>
    <%= form.date_field :active_from, class: 'form-control form-control-lg', required: true %>
</div>
<div class="form-group">
    <%= form.label :active_to, 'Active to', class: "form-label" %>
    <%= form.date_field :active_to, class: 'form-control form-control-lg', required: true %>
</div>

<div class="survey-options">
    <span id="add-new-option-field" style="cursor: pointer"><h1>+</h1></span>
</div>
<div class="form-group">
    <%= form.submit 'Create', class: 'btn btn-success' %>
</div>
