<div class="center-block col-md-3">
    <div class="container d-flex flex-column p-5">
        <nav id="main-nav" class="">
            <ul>
                <li><%= link_to 'Todo category', root_path, class: 'menu-item__text'  %></li>
                <li class="p-2"><%= link_to 'articles', root_path, class: 'menu-item__text' %></li>
                <li class="p-2"><%= link_to 'Team Hub',root_path, class: 'menu-item__text' %></li>
                <li class="p-2"><%= link_to 'LIFESTYLE', root_path, class: 'menu-item__text' %></li>
                <li class="p-2"><%= link_to 'DEALBOOK', root_path, class: 'menu-item__text' %></li>
                <li class="p-2"><%= link_to 'VIDEO', root_path, class: 'menu-item__text' %></li>
            </ul>
        </nav>

    </div>
</div>