<div class="row justify-content-center align-items-center h-100 register">
    <div class="col-12 col-lg-9 col-xl-7">
        <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
            <div class="card-body p-4 p-md-5">
                <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Registration Form</h3>
                <%= form_with(model: @user, url: authentication_register_url, method: :post) do |form| %>
                    <div class="row">
                        <div class="col-md-6 mb-4">

                            <div class="form-outline">
                                <%= form.label :first_name, "First name", class: "form-label" %>
                                <%= form.text_field :first_name, class: 'form-control form-control-lg', required: true %>
                            </div>

                        </div>
                        <div class="col-md-6 mb-4">

                            <div class="form-outline">
                                <%= form.label :second_name, "Last name", class: "form-label" %>
                                <%= form.text_field :second_name, class: 'form-control form-control-lg', required: true %>
                            </div>

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 mb-12 pb-2">

                            <div class="form-outline">
                                <%= form.label :email, "Email", class: "form-label" %>
                                <%= form.email_field :email, class: 'form-control form-control-lg', required: true %>
                            </div>

                        </div>
                        <div class="col-md-12 mb-12 pb-2">

                            <div class="form-outline">
                                <%= form.label :password, "Password", class: "form-label" %>
                                <%= form.password_field :password, class: 'form-control form-control-lg', required: true %>
                            </div>

                        </div>

                        <div class="col-md-12 mb-12 pb-2">

                            <div class="form-outline">
                                <%= form.label :password_confirmation, "Password confirmation", class: "form-label" %>
                                <%= form.password_field :password_confirmation, class: 'form-control form-control-lg', required: true %>

                            </div>

                        </div>

                    </div>

                    <div class="mt-4 pt-2">
                        <%= form.submit "Submit", class: "btn btn-primary btn-lg" %>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>

